/* Markdown */
.markdown {
  white-space: wrap;
  line-height: 1.5;
}

.markdown > *:first-child {
  margin-top: 0;
}

.markdown > *:last-child {
  margin-bottom: 0;
}

.markdown h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.markdown h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.markdown h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.markdown a {
  color: rgb(var(--theme-textColor-prominent));
  text-decoration: underline;
}

.markdown b,
.markdown strong {
  font-weight: 600;
}

.markdown code {
  padding: 0.15rem 0.25rem;
  margin: 0 0.25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--theme-borderColor-app);
  background-color: rgb(var(--theme-colors-prominent));
}

.markdown pre {
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--theme-borderColor-prominent);
  background-color: rgb(var(--theme-colors-emphasized));
  overflow-x: auto;
}

.markdown pre > code {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  border: 0;
}

.markdown hr {
  border: 0;
  border-top: 2px solid var(--theme-borderColor-editor);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown ul {
  white-space: normal;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  list-style-type: disc;
  list-style-position: outside;
}

.markdown ol {
  white-space: normal;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  list-style-type: decimal;
  list-style-position: outside;
}

.markdown ol > li > p,
.markdown ul > li > p {
  display: inline;
}

.markdown ol ol,
.markdown ul ul {
  list-style-type: circle;
  margin-left: 1.5rem;
}

.markdown ul ul ul {
  list-style-type: square;
  margin-left: 1.5rem;
}